@media screen and (max-width: 10000px) {
    .options-products-default, .options-products-4 {
        padding-left: 20px !important;
    }
    .options-products-3 {
        padding-right: 10px !important;
        padding-left: 20px !important;
    }
    .options-products-2 {
        padding-right: 19px !important;
        padding-left: 28px !important;
    }
}
@media screen and (max-width: 1815px) {
    .products-3, .options-products-3 { 
        min-width: 565px !important;
    }
    .options-products-default {
        padding-left: 20px !important;
    }
}
@media screen and (max-width: 1800px) {
    .products-3, .options-products-3 {
        min-width: 560px !important;
    }
}
@media screen and (max-width: 1790px) {
    .products-3, .options-products-3 {
        min-width: 555px !important;
    }
}
@media screen and (max-width: 1770px) {
    .products-3, .options-products-3 {
        min-width: 550px !important;
    }
}
@media screen and (max-width: 1752px) {
    .products-3, .options-products-3 {
        min-width: 545px !important;
    }
}
@media screen and (max-width: 1737px) {
    .products-3, .options-products-3 {
        min-width: 540px !important;
    }
    #container-products-3 {
        width: 97% !important;
    }
}
@media screen and (max-width: 1720px) {
    .products-3, .options-products-3 {
        min-width: 535px !important;
    }
}
@media screen and (max-width: 1705px) {
    .products-3, .options-products-3 {
        min-width: 530px !important;
    }
    .products-2, .options-products-2 {
        min-width: 790px !important;
    }
}
@media screen and (max-width: 1692px) {
    .products-default, .options-products-default {
        min-width: 396px !important;
    }
}
@media screen and (max-width: 1688px) {
    .products-3, .options-products-3 {
        min-width: 525px !important;
    }
}
@media screen and (max-width: 1687px) {
    .products-default, .options-products-default {
        min-width: 394px !important;
    }
}
@media screen and (max-width: 1686px) {
    .products-default, .options-products-default {
        min-width: 392px !important;
    }
}
@media screen and (max-width: 1680px) {
    .products-2, .options-products-2 {
        min-width: 780px !important;
    }
}
@media screen and (max-width: 1672px) {
    .products-3, .options-products-3 {
        min-width: 520px !important;
    }
}
@media screen and (max-width: 1670px) {
    .products-default, .options-products-default {
        min-width: 390px !important;
    }
}
@media screen and (max-width: 1665px) {
    .products-default, .options-products-default {
        min-width: 388px !important; 
    }
}
@media screen and (max-width: 1660px) {
    .products-default, .options-products-default {
        min-width: 386px !important;
    }
    .products-3, .options-products-3 {
        min-width: 515px !important;
    }
    .products-2, .options-products-2 {
        min-width: 770px !important;
    }
}
@media screen and (max-width: 1655px) {
    .products-default, .options-products-default {
        min-width: 384px !important;
    }
}
@media screen and (max-width: 1650px) {
    .products-default, .options-products-default {
        min-width: 382px !important;
    }
    #container-products-default, #container-products-4 { 
        max-width: 95% !important;
    }
}
@media screen and (max-width: 1645px) {
    .products-default, .options-products-default {
        min-width: 380px !important;
    }
    .products-3, .options-products-3 {
        min-width: 510px !important;
    }
}
@media screen and (max-width: 1640px) {
    .products-default, .options-products-default {
        min-width: 378px !important;
    }
    .products-2, .options-products-2 {
        min-width: 760px !important;
    }
}
@media screen and (max-width: 1635px) {
    .products-default, .options-products-default {
        min-width: 376px !important; 
    }
}
@media screen and (max-width: 1630px) {
    .products-default, .options-products-default {
        min-width: 374px !important;
    }
}
@media screen and (max-width: 1625px) {
    .products-default, .options-products-default {
        min-width: 372px !important;
    }
    .products-3, .options-products-3 {
        min-width: 505px !important;
    }
}
@media screen and (max-width: 1620px) {
    .products-default, .options-products-default {
        min-width: 370px !important;
    }
}
@media screen and (max-width: 1615px) {
    .products-default, .options-products-default {
        min-width: 368px !important; 
    }
    .products-2, .options-products-2 {
        min-width: 750px !important;
    }
    #container-products-2 {
        width: 98% !important;
    }
}
@media screen and (max-width: 1610px) {
    .products-default, .options-products-default {
        min-width: 366px !important;
    }
    .products-3, .options-products-3 {
        min-width: 500px !important;
    }
}
@media screen and (max-width: 1605px) {
    .products-default, .options-products-default {
        min-width: 364px !important;
    }
}
@media screen and (max-width: 1600px) {
    .products-default, .options-products-default {
        min-width: 362px !important;
    }
}
@media screen and (max-width: 1595px) {
    .products-default, .options-products-default {
        min-width: 360px !important;
    }
    .products-3, .options-products-3 {
        min-width: 495px !important; 
    }
    .products-2, .options-products-2 {
        min-width: 740px !important;
    }
}
@media screen and (max-width: 1590px) {
    .products-default, .options-products-default {
        min-width: 358px !important; 
    }
}
@media screen and (max-width: 1585px) {
    .products-default, .options-products-default {
        min-width: 356px !important;
    }
}
@media screen and (max-width: 1580px) {
    .products-default, .options-products-default {
        min-width: 354px !important;
    }
    .products-3, .options-products-3 {
        min-width: 490px !important; 
    }
}
@media screen and (max-width: 1575px) { 
    .products-default, .options-products-default {
        min-width: 352px !important;
    }
    .products-2, .options-products-2 {
        min-width: 730px !important;
    }
}
@media screen and (max-width: 1570px) {
    .products-default, .options-products-default {
        min-width: 350px !important;
    }
    .products-3, .options-products-3 {
        min-width: 485px !important; 
    }
}
@media screen and (max-width: 1560px) {
    #container-products-default {
        max-width: 97%;
    }
    .products-default, .options-products-default {
        min-width: 320px !important;
    }
}
@media screen and (max-width: 1555px) {
    .products-default, .options-products-default {
        min-width: 310px !important;
    }
    .products-2, .options-products-2 {
        min-width: 720px !important;
    }
}
@media screen and (max-width: 1546px) {
    .products-3, .options-products-3 {
        min-width: 480px !important; 
    }
}
@media screen and (max-width: 1530px) {
    .products-3, .options-products-3 {
        min-width: 475px !important; 
    }
    .products-2, .options-products-2 {
        min-width: 710px !important;
    }
}
@media screen and (max-width: 1515px) {
    .products-3, .options-products-3 {
        min-width: 470px !important; 
    }
}
@media screen and (max-width: 1510px) {
    .products-2, .options-products-2 {
        min-width: 700px !important;
    }
}
@media screen and (max-width: 1500px) {
    .products-3, .options-products-3 {
        min-width: 465px !important; 
    }
    .products-2, .options-products-2 {
        min-width: 690px !important;
    }
}
@media screen and (max-width: 1485px) {
    .products-3, .options-products-3 {
        min-width: 460px !important; 
    }
}
@media screen and (max-width: 1470px) {
    .products-3, .options-products-3 {
        min-width: 455px !important; 
    }
    .products-2, .options-products-2 {
        min-width: 680px !important;
    }
}
@media screen and (max-width: 1455px) {
    .products-3, .options-products-3 {
        min-width: 450px !important; 
    }
}
@media screen and (max-width: 1446px) {
    .products-2, .options-products-2 {
        min-width: 670px !important;
    }
}
@media screen and (max-width: 1440px) {
    .products-3, .options-products-3 {
        min-width: 445px !important; 
    }
}
@media screen and (max-width: 1425px) {
    .products-3, .options-products-3 {
        min-width: 440px !important; 
    }
    .products-2, .options-products-2 {
        min-width: 660px !important;
    }
}
@media screen and (max-width: 1410px) {
    .products-3, .options-products-3 {
        min-width: 435px !important; 
    }
}
@media screen and (max-width: 1405px) {
    .products-2, .options-products-2 {
        min-width: 650px !important;
    }
}
@media screen and (max-width: 1395px) {
    .products-3, .options-products-3 {
        min-width: 430px !important; 
    }
}
@media screen and (max-width: 1385px) {
    .products-2, .options-products-2 {
        min-width: 640px !important;
    }
}
@media screen and (max-width: 1380px) {
    .products-3, .options-products-3 {
        min-width: 425px !important; 
    }
}
@media screen and (max-width: 1365px) {
    .products-3, .options-products-3 {
        min-width: 420px !important; 
    }
    .products-2, .options-products-2 {
        min-width: 630px !important;
    }
}
@media screen and (max-width: 1350px) {
    .products-3, .options-products-3 {
        min-width: 415px !important; 
    }
}
@media screen and (max-width: 1345px) {
    .products-2, .options-products-2 {
        min-width: 620px !important;
    }
}