@media screen and (max-width: 985px) {
    .vacio4 {
        display: none !important;
    }
    .columna, .columna-2 {
        min-width: 440px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
        padding-bottom: 25px !important;
    }
    .figura-pred, .figura-2 {
        width: 440px !important; 
    }
    .figura-pred img, .figura-2 img {
        width: 440px !important;
    }
    .b-right .figura-pred, .b-left .figura-pred, .b-bottom .figura-pred, .b-top .figura-pred {
        border: none !important;
    }
    .b-right .figura-3, .b-left .figura-3, .b-bottom .figura-3, .b-top .figura-3 {
        border: none !important;
    }
    .b-right .figura-2, .b-left .figura-2, .b-bottom .figura-2, .b-top .figura-2 {
        border: none !important;
    }
    #row-productos-all-2 {
        max-width: 100% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    #row-productos-all-3 {
        padding-left: 17px !important;
        padding-right: 17px !important;
    }
    .columna-3 {
        min-width: 295px !important;
        padding-left: 3px !important;
        padding-right: 3px !important; 
    }
}
@media screen and (max-width: 980px) {
    .columna, .columna-2 { 
        min-width: 438px !important;
    }
    .columna-3 {
        min-width: 294px !important;
    }
}
@media screen and (max-width: 975px) {
    .columna, .columna-2 {
        min-width: 436px !important;
    }
    .columna-3 {
        min-width: 293px !important;
    }
}
@media screen and (max-width: 970px) {
    .columna, .columna-2 {
        min-width: 434px !important;
    }
    .columna-3 {
        min-width: 292px !important;
    }
}
@media screen and (max-width: 965px) {
    .columna, .columna-2 {
        min-width: 432px !important;
    }
    .columna-3 {
        min-width: 291px !important;
    }
}
@media screen and (max-width: 961px) {
    .columna, .columna-2 {
        min-width: 430px !important; 
    }
    .columna-3 {
        min-width: 290px !important;
    }
}
@media screen and (max-width: 955px) {
    .columna, .columna-2 {
        min-width: 428px !important;
    }
    .columna-3 {
        min-width: 289px !important;
    }
}
@media screen and (max-width: 950px) {
    .columna, .columna-2 {
        min-width: 426px !important;
    }
    .columna-3 {
        min-width: 288px !important;
    }
}
@media screen and (max-width: 945px) {
    .columna, .columna-2 {
        min-width: 424px !important; 
    }
    .columna-3 {
        min-width: 287px !important;
    }
}
@media screen and (max-width: 940px) {
    .columna, .columna-2 {
        min-width: 422px !important;
    }
    .columna-3 {
        min-width: 286px !important;
    }
}
@media screen and (max-width: 935px) {
    .columna, .columna-2 {
        min-width: 420px !important;
    }
    .columna-3 {
        min-width: 285px !important;
    }
}
@media screen and (max-width: 930px) {
    .columna, .columna-2 {
        min-width: 418px !important;
    }
    .columna-3 {
        min-width: 284px !important;
    }
}
@media screen and (max-width: 925px) {
    .columna, .columna-2 {
        min-width: 416px !important;
    }
    .columna-3 {
        min-width: 283px !important;
    }
}
@media screen and (max-width: 920px) {
    .columna, .columna-2 {
        min-width: 414px !important;
    }
    .columna-3 {
        min-width: 282px !important;
    }
}
@media screen and (max-width: 915px) {
    .columna, .columna-2 {
        min-width: 412px !important; 
    }
    .columna-3 {
        min-width: 281px !important;
    }
}
@media screen and (max-width: 910px) {
    .columna, .columna-2 {
        min-width: 410px !important;
    }
    .columna-3 {
        min-width: 280px !important;
    }
}
@media screen and (max-width: 905px) {
    .columna, .columna-2 {
        min-width: 408px !important;
    }
    .columna-3 {
        min-width: 279px !important;
    }
}
@media screen and (max-width: 895px) {
    .columna, .columna-2 {
        min-width: 406px !important;
    }
    .columna-3 {
        min-width: 278px !important;
    }
}
@media screen and (max-width: 890px) {
    .columna, .columna-2 {
        min-width: 404px !important; 
    }
    .columna-3 {
        min-width: 277px !important;
    }
}
@media screen and (max-width: 885px) {
    .columna, .columna-2 {
        min-width: 402px !important;
    }
    .columna-3 {
        min-width: 276px !important;
    }
}
@media screen and (max-width: 880px) {
    .columna, .columna-2 {
        min-width: 400px !important;
    }
    .columna-3 {
        min-width: 275px !important;
    }
}
@media screen and (max-width: 875px) {
    .columna, .columna-2 {
        min-width: 398px !important;
    }
    .columna-3 {
        min-width: 274px !important;
    }
}
@media screen and (max-width: 870px) {
    .columna, .columna-2 {
        min-width: 396px !important;
    }
    .columna-3 {
        min-width: 272px !important;
    }
}
@media screen and (max-width: 865px) {
    .columna, .columna-2 {
        min-width: 394px !important; 
    }
    .columna-3 {
        min-width: 268px !important;
    }
}
@media screen and (max-width: 860px) {
    .columna, .columna-2 {
        min-width: 392px !important;
    }
    .columna-3 {
        min-width: 266px !important;
    }
}
@media screen and (max-width: 855px) {
    .columna, .columna-2 {
        min-width: 390px !important;
    }
    .columna-3 {
        min-width: 265px !important;
    }
}
@media screen and (max-width: 850px) {
    .columna, .columna-2 {
        min-width: 388px !important;
    }
    .columna-3 {
        min-width: 264px !important;
    }
}
@media screen and (max-width: 845px) {
    .columna, .columna-2 {
        min-width: 386px !important;
    }
    .columna-3 {
        min-width: 262px !important;
    }
}
@media screen and (max-width: 840px) {
    .columna, .columna-2 {
        min-width: 384px !important; 
    }
    .columna-3 {
        min-width: 261px !important;
    }
}
@media screen and (max-width: 835px) {
    .columna, .columna-2 {
        min-width: 382px !important;
    }
    .columna-3 {
        min-width: 260px !important;
    }
}
@media screen and (max-width: 830px) {
    .columna, .columna-2 {
        min-width: 380px !important;
    }
    .columna-3 {
        min-width: 258px !important;
    }
}
@media screen and (max-width: 825px) {
    .columna, .columna-2 {
        min-width: 378px !important;
    }
    .columna-3 {
        min-width: 256px !important;
    }
}
@media screen and (max-width: 820px) {
    .columna, .columna-2 {
        min-width: 376px !important; 
    }
    .columna-3 {
        min-width: 254px !important;
    }
}
@media screen and (max-width: 815px) {
    .columna, .columna-2 {
        min-width: 374px !important;
    }
    .columna-3 {
        min-width: 253px !important;
    }
}
@media screen and (max-width: 810px) {
    .columna, .columna-2 {
        min-width: 372px !important;
    }
    .columna-3 {
        min-width: 252px !important;
    }
}
@media screen and (max-width: 805px) {
    .columna, .columna-2 {
        min-width: 370px !important;
    }
    .columna-3 {
        min-width: 250px !important;
    }
}
@media screen and (max-width: 800px) {
    .columna, .columna-2 {
        min-width: 368px !important;
    }
    .columna-3 {
        min-width: 248px !important;
    }
}
@media screen and (max-width: 795px) {
    .columna, .columna-2 {
        min-width: 366px !important; 
    }
    .columna-3 {
        min-width: 247px !important;
    }
}
@media screen and (max-width: 790px) {
    .columna, .columna-2 {
        min-width: 364px !important;
    }
    .columna-3 {
        min-width: 246px !important;
    }
}
@media screen and (max-width: 786px) {
    .columna, .columna-2 {
        min-width: 362px !important;
    }
    .columna-3 {
        min-width: 244px !important;
    }
}
@media screen and (max-width: 780px) {
    .columna, .columna-2 {
        min-width: 360px !important;
    }
    .columna-3 {
        min-width: 243px !important;
    }
}
@media screen and (max-width: 777px) {
    .columna, .columna-2 {
        min-width: 358px !important;
    }
    .columna-3 {
        min-width: 242px !important;
    }
}
@media screen and (max-width: 774px) {
    .columna-3 {
        min-width: 240px !important;
    }
}
@media screen and (max-width: 770px) {
    .columna, .columna-2 {
        min-width: 356px !important;
    }
    .columna-3 {
        min-width: 239px !important;
    }
}
@media screen and (max-width: 765px) {
    .columna, .columna-2 {
        min-width: 354px !important; 
    }
    #row-productos-all-3 {
        max-width: 95% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .columna-3 {
        padding-left: 6px !important;
        padding-right: 3px !important;
    }
    .figura-3 { 
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .columna-4, .columna-3 {
        min-width: 236px !important;
    }
}
@media screen and (max-width: 764px) {
    .columna-4, .columna-3 {
        min-width: 235px !important; 
    }
}
@media screen and (max-width: 762px) {
    .columna, .columna-2 {
        min-width: 352px !important;
    }
    .columna-4, .columna-3 {
        min-width: 233px !important; 
    }
}
@media screen and (max-width: 758px) {
    .columna, .columna-2 {
        min-width: 352px !important;
    }
    .columna-4, .columna-3 { 
        min-width: 231px !important; 
    }
}
@media screen and (max-width: 756px) {
    #row-productos-all {
        padding-left: 15px;
        padding-right: 15px;
    }
    .columna, .columna-2 {
        min-width: 350px !important;
        padding-left: 2px !important;
        padding-right: 0px !important;
    }
    .columna-4, .columna-3 {
        min-width: 229px !important; 
    }
}
@media screen and (max-width: 750px) {
    .columna, .columna-2 {
        min-width: 348px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 227px !important; 
    }
}
@media screen and (max-width: 747px) {
    .columna, .columna-2 {
        min-width: 346px !important;
    }
    .columna-4, .columna-3 {
        min-width: 226px !important; 
    }
}
@media screen and (max-width: 740px) {
    .columna, .columna-2 {
        min-width: 344px !important;
    }
    .columna-4, .columna-3 {
        min-width: 224px !important; 
    }
}
@media screen and (max-width: 737px) {
    .columna, .columna-2 {
        min-width: 342px !important;
    }
    .columna-4, .columna-3 {
        min-width: 223px !important; 
    }
}
@media screen and (max-width: 734px) {
    .columna, .columna-2 {
        min-width: 340px !important;
    }
    .columna-4, .columna-3 {
        min-width: 222px !important; 
    }
}
@media screen and (max-width: 731px) {
    .columna, .columna-2 {
        min-width: 340px !important;
    }
    .columna-4, .columna-3 {
        min-width: 221px !important; 
    }
}
@media screen and (max-width: 725px) {
    .columna, .columna-2 {
        min-width: 338px !important;
    }
    .columna-4, .columna-3 {
        min-width: 219px !important; 
    }
}
@media screen and (max-width: 722px) {
    .columna, .columna-2 {
        min-width: 336px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 217px !important; 
    }
}
@media screen and (max-width: 716px) {
    .columna, .columna-2 {
        min-width: 334px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 215px !important; 
    }
}
@media screen and (max-width: 712px) {
    .columna, .columna-2 {
        min-width: 331px !important;
    }
    .columna-4, .columna-3 {
        min-width: 214px !important; 
    }
}
@media screen and (max-width: 706px) {
    .columna, .columna-2 {
        min-width: 328px !important;
    }
    .columna-4, .columna-3 {
        min-width: 212px !important; 
    }
}
@media screen and (max-width: 700px) {
    .columna, .columna-2 {
        min-width: 325px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 210px !important; 
    }
}
@media screen and (max-width: 695px) {
    .columna, .columna-2 {
        min-width: 323px !important;  
    }
    .columna-4, .columna-3 {
        min-width: 208px !important; 
    }
}
@media screen and (max-width: 690px) {
    .columna, .columna-2 {
        min-width: 321px !important;
    }
    .columna-4, .columna-3 {
        min-width: 206px !important; 
    }
}
@media screen and (max-width: 686px) {
    .columna, .columna-2 {
        min-width: 317px !important;
    }
    .columna-4, .columna-3 {
        min-width: 204px !important; 
    }
}
@media screen and (max-width: 680px) {
    .columna, .columna-2 {
        min-width: 316px !important;
    }
    .columna-4, .columna-3 {
        min-width: 203px !important; 
    }
}
@media screen and (max-width: 677px) {
    .columna, .columna-2 {
        min-width: 312px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 202px !important; 
    }
}
@media screen and (max-width: 670px) {
    .columna, .columna-2 {
        min-width: 310px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 200px !important; 
    }
}
@media screen and (max-width: 665px) {
    .columna, .columna-2 {
        min-width: 308px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 199px !important; 
    }
}
@media screen and (max-width: 660px) {
    .columna, .columna-2 {
        min-width: 306px !important;
    }
    .columna-4, .columna-3 {
        min-width: 198px !important; 
    }
}
@media screen and (max-width: 656px) {
    .columna, .columna-2 {
        min-width: 304px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 197px !important; 
    }
}
@media screen and (max-width: 652px) {
    .columna, .columna-2 {
        min-width: 302px !important;  
    }
    .columna-4, .columna-3 {
        min-width: 196px !important; 
    }
}
@media screen and (max-width: 648px) {
    .columna, .columna-2 {
        min-width: 300px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 195px !important; 
    }
}
@media screen and (max-width: 645px) {
    .columna, .columna-2 {
        min-width: 298px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 194px !important; 
    }
}
@media screen and (max-width: 640px) {
    .columna, .columna-2 {
        min-width: 296px !important; 
    }
    .columna-4, .columna-3 {
        min-width: 193px !important; 
    }
}
@media screen and (max-width: 637px) {
    .columna, .columna-2 {
        min-width: 294px !important;
    }
    .columna-4, .columna-3 {
        min-width: 192px !important; 
    }
}
@media screen and (max-width: 634px) {
    .columna, .columna-2 {
        min-width: 293px !important;
    }
    .columna-4, .columna-3 {
        min-width: 191px !important; 
    }
}