@media screen and (max-width: 1000000000000px) {
    .products-3, .col-option { 
        width: 530px !important;
    }
    .products-2 {
        width: 825px !important;
    }
}
@media screen and (max-width: 1835px) {
    .products-3, .col-option { 
        width: 528px !important;
    }
    .products-2 {
        width: 822px !important;
    }
}
@media screen and (max-width: 1830px) {
    .products-3, .col-option {
        width: 526px !important;
    }
    .products-2 {
        width: 819px !important;
    }
}
@media screen and (max-width: 1825px) {
    .products-3, .col-option {
        width: 524px !important;
    }
    .products-2 {
        width: 816px !important;
    }
}
@media screen and (max-width: 1820px) {
    .products-3, .col-option {
        width: 522px !important;
    }
    .products-2 {
        width: 813px !important;
    }
}
@media screen and (max-width: 1815px) {
    .products-3, .col-option {
        width: 520px !important;
    }
    .products-2 {
        width: 810px !important;
    }
}
@media screen and (max-width: 1810px) {
    .products-3, .col-option {
        width: 518px !important;
    }
    .products-2 {
        width: 807px !important;
    }
}
@media screen and (max-width: 1800px) {
    .products-3, .col-option {
        width: 516px !important;
    }
    .products-2 {
        width: 804px !important;
    }
}
@media screen and (max-width: 1795px) {
    .products-3, .col-option {
        width: 514px !important;
    }
    .products-2 {
        width: 801px !important;
    }
}
@media screen and (max-width: 1790px) {
    .products-3, .col-option {
        width: 512px !important;
    }
    .products-2 {
        width: 798px !important;
    }
}
@media screen and (max-width: 1785px) {
    .products-3, .col-option {
        width: 510px !important;
    }
    .products-2 {
        width: 795px !important;
    }
}
@media screen and (max-width: 1780px) {
    .products-3, .col-option {
        width: 508px !important;
    }
    .products-2 {
        width: 792px !important;
    }
}
@media screen and (max-width: 1775px) {
    .products-3, .col-option {
        width: 506px !important;
    }
    .products-2 {
        width: 789px !important;
    }
}
@media screen and (max-width: 1770px) {
    .products-3, .col-option {
        width: 504px !important;
    }
    .products-2 {
        width: 786px !important;
    }
}
@media screen and (max-width: 1765px) {
    .products-3, .col-option {
        width: 502px !important;
    }
    .products-2 {
        width: 783px !important;
    }
}
@media screen and (max-width: 1760px) {
    .products-3, .col-option {
        width: 500px !important;
    }
    .products-2 {
        width: 780px !important;
    }
}
@media screen and (max-width: 1755px) {
    .products-3, .col-option {
        width: 498px !important;
    }
    .products-2 {
        width: 777px !important;
    }
}
@media screen and (max-width: 1750px) {
    .products-3, .col-option {
        width: 496px !important;
    }
    .products-2 {
        width: 774px !important;
    }
}
@media screen and (max-width: 1745px) {
    .products-3, .col-option {
        width: 494px !important;
    }
    .products-2 {
        width: 771px !important;
    }
}
@media screen and (max-width: 1740px) {
    .products-3, .col-option {
        width: 492px !important;
    }
    .products-2 {
        width: 768px !important;
    }
}
@media screen and (max-width: 1735px) {
    .products-3, .col-option {
        width: 490px !important;
    }
    .products-2 {
        width: 765px !important;
    }
}
@media screen and (max-width: 1730px) {
    .products-3, .col-option {
        width: 488px !important;
    }
    .products-2 {
        width: 762px !important;
    }
}
@media screen and (max-width: 1725px) {
    .products-3, .col-option {
        width: 486px !important;
    }
    .products-2 {
        width: 759px !important;
    }
}
@media screen and (max-width: 1720px) {
    .products-3, .col-option {
        width: 484px !important;
    }
    .products-2 {
        width: 756px !important;
    }
}
@media screen and (max-width: 1715px) {
    .products-3, .col-option {
        width: 482px !important;
    }
    .products-2 {
        width: 753px !important;
    }
}
@media screen and (max-width: 1710px) {
    .products-3, .col-option {
        width: 480px !important;
    }
    .products-2 {
        width: 750px !important;
    }
}
@media screen and (max-width: 1705px) {
    .products-3, .col-option {
        width: 478px !important;
    }
    .products-2 {
        width: 747px !important;
    }
}
@media screen and (max-width: 1700px) {
    .products-3, .col-option {
        width: 476px !important;
    }
    .products-2 {
        width: 744px !important;
    }
}
@media screen and (max-width: 1695px) {
    .products-3, .col-option {
        width: 474px !important;
    }
    .products-2 {
        width: 741px !important;
    }
}
@media screen and (max-width: 1690px) {
    .products-3, .col-option {
        width: 472px !important;
    }
    .products-2 {
        width: 738px !important;
    }
}
@media screen and (max-width: 1685px) {
    .products-3, .col-option {
        width: 470px !important;
    }
    .products-2 {
        width: 735px !important;
    }
}
@media screen and (max-width: 1680px) {
    .products-3, .col-option {
        width: 468px !important;
    }
    .products-2 {
        width: 732px !important;
    }
}
@media screen and (max-width: 1675px) {
    .products-3, .col-option {
        width: 466px !important;
    }
    .products-2 {
        width: 729px !important;
    }
}
@media screen and (max-width: 1670px) {
    .products-3, .col-option {
        width: 464px !important;
    }
    .products-2 {
        width: 726px !important;
    }
}
@media screen and (max-width: 1665px) {
    .products-3, .col-option {
        width: 462px !important;
    }
    .products-2 {
        width: 723px !important;
    }
}
@media screen and (max-width: 1660px) {
    .products-3, .col-option {
        width: 460px !important;
    }
    .products-2 {
        width: 720px !important;
    }
}
@media screen and (max-width: 1655px) {
    .products-3, .col-option {
        width: 458px !important;
    }
    .products-2 {
        width: 717px !important;
    }
}
@media screen and (max-width: 1650px) {
    .products-3, .col-option {
        width: 456px !important;
    }
    .products-2 {
        width: 714px !important;
    }
}
@media screen and (max-width: 1615px) {
    .products-3, .col-option {
        width: 454px !important;
    }
    .products-2 {
        width: 711px !important;
    }
}
@media screen and (max-width: 1610px) {
    .products-3, .col-option {
        width: 452px !important;
    }
    .products-2 {
        width: 708px !important;
    }
}
@media screen and (max-width: 1605px) {
    .products-3, .col-option {
        width: 450px !important;
    }
    .products-2 {
        width: 705px !important;
    }
}
@media screen and (max-width: 1600px) {
    .products-3, .col-option {
        width: 448px !important;
    }
    .products-2 {
        width: 702px !important;
    }
}
@media screen and (max-width: 1590px) {
    .products-3, .col-option {
        width: 446px !important;
    }
    .products-2 {
        width: 699px !important;
    }
}
@media screen and (max-width: 1585px) {
    .products-3, .col-option {
        width: 444px !important;
    }
    .products-2 {
        width: 696px !important;
    }
}
@media screen and (max-width: 1580px) {
    .products-3, .col-option {
        width: 442px !important;
    }
    .products-2 {
        width: 693px !important;
    }
}
@media screen and (max-width: 1575px) {
    .products-3, .col-option {
        width: 440px !important;
    }
    .products-2 {
        width: 690px !important;
    }
}
@media screen and (max-width: 1570px) {
    .products-3, .col-option {
        width: 438px !important;
    }
    .products-2 {
        width: 687px !important;
    }
}
@media screen and (max-width: 1565px) {
    .products-3, .col-option {
        width: 436px !important;
    }
    .products-2 {
        width: 684px !important;
    }
}
@media screen and (max-width: 1560px) {
    .products-3, .col-option {
        width: 434px !important;
    }
    .products-2 {
        width: 681px !important;
    }
}
@media screen and (max-width: 1555px) {
    .products-3, .col-option {
        width: 432px !important;
    }
    .products-2 {
        width: 678px !important;
    }
}
@media screen and (max-width: 1550px) {
    .products-3, .col-option {
        width: 430px !important;
    }
    .products-2 {
        width: 675px !important;
    }
}
@media screen and (max-width: 1545px) {
    .products-3, .col-option {
        width: 428px !important;
    }
    .products-2 {
        width: 672px !important;
    }
}
@media screen and (max-width: 1540px) {
    .products-3, .col-option {
        width: 426px !important;
    }
    .products-2 {
        width: 669px !important;
    }
}
@media screen and (max-width: 1535px) {
    .products-3, .col-option {
        width: 424px !important;
    }
    .products-2 {
        width: 666px !important;
    }
}
@media screen and (max-width: 1520px) {
    .products-3, .col-option {
        width: 422px !important;
    }
    .products-2 {
        width: 663px !important;
    }
}
@media screen and (max-width: 1515px) {
    .products-3, .col-option {
        width: 420px !important;
    }
    .products-2 {
        width: 660px !important;
    }
}
@media screen and (max-width: 1510px) {
    .products-3, .col-option {
        width: 418px !important;
    }
    .products-2 {
        width: 657px !important;
    }
}
@media screen and (max-width: 1500px) {
    .products-2, .products-3, .col-option {
        margin-left: 28px !important;
        margin-right: 28px !important;
    }
    .products-2, .products-3 {
        margin-bottom: 56px !important;
    }
}
@media screen and (max-width: 1495px) {
    .products-2 {
        width: 655px !important;
    }
}
@media screen and (max-width: 1490px) {
    .products-3, .col-option {
        width: 416px !important;
    }
    .products-2 {
        width: 652px !important;
    }
}
@media screen and (max-width: 1480px) {
    .products-3, .col-option {
        width: 414px !important;
    }
    .products-2 {
        width: 649px !important;
    }
}
@media screen and (max-width: 1475px) {
    .products-3, .col-option {
        width: 412px !important;
    }
    .products-2 {
        width: 646px !important;
    }
}
@media screen and (max-width: 1470px) {
    .products-3, .col-option {
        width: 410px !important;
    }
    .products-2 {
        width: 643px !important;
    }
}
@media screen and (max-width: 1465px) {
    .products-3, .col-option {
        width: 408px !important;
    }
    .products-2 {
        width: 640px !important;
    }
}
@media screen and (max-width: 1460px) {
    .products-3, .col-option {
        width: 406px !important;
    }
    .products-2 {
        width: 637px !important;
    }
}
@media screen and (max-width: 1455px) {
    .products-3, .col-option {
        width: 404px !important;
    }
    .products-2 {
        width: 634px !important;
    }
}
@media screen and (max-width: 1450px) {
    .products-3, .col-option {
        width: 402px !important;
    }
    .products-2 {
        width: 631px !important;
    }
}
@media screen and (max-width: 1445px) {
    .products-3, .col-option {
        width: 400px !important;
    }
    .products-2 {
        width: 628px !important;
    }
}
@media screen and (max-width: 1440px) {
    .products-3, .col-option {
        width: 398px !important;
    }
    .products-2 {
        width: 625px !important;
    }
}
@media screen and (max-width: 1435px) {
    .products-3, .col-option {
        width: 396px !important;
    }
    .products-2 {
        width: 622px !important;
    }
}
@media screen and (max-width: 1430px) {
    .products-3, .col-option {
        width: 394px !important;
    }
    .products-2 {
        width: 619px !important; 
    }
}
@media screen and (max-width: 1425px) {
    .products-3, .col-option {
        width: 392px !important;
    }
    .products-2 {
        width: 616px !important;
    }
}
@media screen and (max-width: 1420px) {
    .products-3, .col-option {
        width: 390px !important;
    }
    .products-2 {
        width: 613px !important;
    }
}
@media screen and (max-width: 1415px) {
    .products-2, .products-3, .col-option {
        margin-left: 26px !important;
        margin-right: 26px !important;
    }
    .products-2, .products-3 {
        margin-bottom: 52px !important;
    }
    .products-2 {
        width: 611px !important;
    }
}
@media screen and (max-width: 1410px) {
    .products-3, .col-option {
        width: 388px !important;
    }
    .products-2 {
        width: 608px !important;
    }
}
@media screen and (max-width: 1385px) {
    .products-3, .col-option {
        width: 386px !important;
    }
    .products-2 {
        width: 605px !important;
    }
}
@media screen and (max-width: 1380px) {
    .products-3, .col-option {
        width: 384px !important;
    }
    .products-2 {
        width: 602px !important;
    }
}
@media screen and (max-width: 1375px) {
    .products-3, .col-option {
        width: 382px !important;
    }
    .products-2 {
        width: 599px !important;
    }
}
@media screen and (max-width: 1370px) {
    .products-3, .col-option {
        width: 380px !important;
    }
    .products-2 {
        width: 596px !important;
    }
}
@media screen and (max-width: 1365px) {
    .products-3, .col-option {
        width: 378px !important;
    }
    .products-2 {
        width: 593px !important;
    }
}
@media screen and (max-width: 1360px) {
    .products-3, .col-option {
        width: 376px !important;
    }
    .products-2 {
        width: 590px !important;
    }
}
@media screen and (max-width: 1355px) {
    .products-3, .col-option {
        width: 374px !important;
    }
    .products-2 {
        width: 587px !important;
    }
}
@media screen and (max-width: 1350px) {
    .products-3, .col-option {
        width: 372px !important;
    }
    .products-2 {
        width: 584px !important;
    }
}

/***************************************/
/************DOS PRODUCTOS**************/
/***************************************/

@media screen and (max-width: 1345px) {
    .products-2, .products-3, .col-option {
        min-width: 586px !important;
    }
    .products-2 {
        width: 586px !important;
    }
    #col-option-view {
        visibility: hidden;
    }
    #col-option-hidden {
        display: none;
    }
}
@media screen and (max-width: 1340px) {
    .products-2, .products-3, .col-option {
        min-width: 582px !important;
    }
    .products-2 {
        width: 582px !important;
    }
}
@media screen and (max-width: 1335px) {
    .products-2, .products-3, .col-option {
        min-width: 580px !important;
    } 
    .products-2 {
        width: 580px !important;
    }
}
@media screen and (max-width: 1330px) {
    .products-2, .products-3, .col-option {
        min-width: 578px !important;
    }
    .products-2 {
        width: 578px !important;
    }
}
@media screen and (max-width: 1325px) {
    .products-2, .products-3, .col-option {
        min-width: 576px !important;
    }
    .products-2 {
        width: 576px !important;
    }
}
@media screen and (max-width: 1320px) {
    .products-2, .products-3, .col-option {
        min-width: 573px !important;
    }
    .products-2 {
        width: 573px !important;
    }
}
@media screen and (max-width: 1315px) {
    .products-2, .products-3, .col-option {
        min-width: 570px !important;
    }
    .products-2 {
        width: 570px !important;
    }
}
@media screen and (max-width: 1310px) {
    .products-2, .products-3, .col-option {
        min-width: 568px !important;
    }
    .products-2 {
        width: 568px !important;
    }
}
@media screen and (max-width: 1305px) {
    .products-2, .products-3, .col-option {
        min-width: 566px !important;
    }
    .products-2 {
        width: 566px !important;
    }
}
@media screen and (max-width: 1300px) {
    .products-2, .products-3, .col-option {
        min-width: 563px !important;
    }
    .products-2 {
        width: 563px !important;
    }
}
@media screen and (max-width: 1295px) {
    .products-2, .products-3, .col-option {
        min-width: 560px !important;
    }
    .products-2 {
        width: 560px !important;
    }
}
@media screen and (max-width: 1290px) {
    .products-2, .products-3, .col-option {
        min-width: 557px !important;
    }
    .products-2 {
        width: 557px !important;
    }
}
@media screen and (max-width: 1285px) {
    .products-2, .products-3, .col-option {
        min-width: 554px !important;
    }
    .products-2 {
        width: 554px !important;
    }
}
@media screen and (max-width: 1280px) {
    .products-2, .products-3, .col-option {
        min-width: 551px !important;
    }
    .products-2 {
        width: 551px !important;
    }
}
@media screen and (max-width: 1275px) {
    .products-2, .products-3, .col-option {
        min-width: 548px !important;
    }
    .products-2 {
        width: 548px !important;
    }
}
@media screen and (max-width: 1270px) {
    .products-2, .products-3, .col-option {
        min-width: 545px !important;
    }
    .products-2 {
        width: 545px !important;
    }
}
@media screen and (max-width: 1265px) {
    .products-2, .products-3, .col-option {
        min-width: 542px !important;
    }
    .products-2 {
        width: 542px !important;
    }
}
@media screen and (max-width: 1260px) {
    .products-2, .products-3, .col-option {
        min-width: 539px !important;
    }
    .products-2 {
        width: 539px !important;
    }
}
@media screen and (max-width: 1255px) {
    .products-2, .products-3, .col-option {
        min-width: 536px !important;
    }
    .products-2 {
        width: 536px !important;
    }
}
@media screen and (max-width: 1250px) {
    .products-2, .products-3, .col-option {
        min-width: 533px !important;
    }
    .products-2 {
        width: 533px !important;
    }
}
@media screen and (max-width: 1245px) {
    .products-2, .products-3, .col-option {
        min-width: 530px !important;
    }
    .products-2 {
        width: 530px !important;
    }
}
@media screen and (max-width: 1240px) {
    .products-2, .products-3, .col-option {
        min-width: 527px !important;
    }
    .products-2 {
        width: 527px !important;
    }
}
@media screen and (max-width: 1235px) {
    .products-2, .products-3, .col-option {
        min-width: 524px !important;
    }
    .products-2 {
        width: 524px !important;
    }
}
@media screen and (max-width: 1230px) {
    .products-2, .products-3, .col-option {
        min-width: 521px !important;
    }
    .products-2 {
        width: 521px !important;
    }
}
@media screen and (max-width: 1225px) {
    .products-2, .products-3, .col-option {
        min-width: 518px !important;
    }
    .products-2 {
        width: 518px !important;
    }
}
@media screen and (max-width: 1220px) {
    .products-2, .products-3, .col-option {
        min-width: 515px !important;
    }
    .products-2 {
        width: 515px !important;
    }
}
@media screen and (max-width: 1215px) {
    .products-2, .products-3, .col-option {
        min-width: 512px !important;
    }
    .products-2 {
        width: 512px !important; 
    }
}
@media screen and (max-width: 1210px) {
    .products-2, .products-3, .col-option {
        min-width: 509px !important;
    }
    .products-2 {
        width: 509px !important;
    }
}
@media screen and (max-width: 1205px) {
    .products-2, .products-3, .col-option {
        min-width: 506px !important;
    }
    .products-2 {
        width: 506px !important;
    }
}
@media screen and (max-width: 1200px) {
    .products-2, .products-3, .col-option {
        min-width: 503px !important;
    }
    .products-2 {
        width: 503px !important;
    }
}
@media screen and (max-width: 1180px) {
    .products-2, .products-3, .col-option {
        min-width: 500px !important;
    }
    .products-2 {
        width: 500px !important;
    }
}
@media screen and (max-width: 1175px) {
    .products-2, .products-3, .col-option {
        min-width: 497px !important;
    }
    .products-2 {
        width: 497px !important;
    }
}
@media screen and (max-width: 1170px) {
    .products-2, .products-3, .col-option {
        min-width: 494px !important;
    }
    .products-2 {
        width: 494px !important;
    }
}
@media screen and (max-width: 1165px) {
    .products-2, .products-3, .col-option {
        min-width: 491px !important;
    }
    .products-2 {
        width: 491px !important;
    }
}
@media screen and (max-width: 1160px) {
    .products-2, .products-3, .col-option {
        min-width: 488px !important;
    }
    .products-2 {
        width: 488px !important;
    }
}
@media screen and (max-width: 1155px) {
    .products-2, .products-3, .col-option {
        min-width: 485px !important;
    }
    .products-2 {
        width: 485px !important;
    }
}
@media screen and (max-width: 1150px) {
    .products-2, .products-3, .col-option {
        min-width: 482px !important;
    }
    .products-2 {
        width: 482px !important;
    }
}
@media screen and (max-width: 1135px) {
    .products-2, .products-3, .col-option {
        min-width: 479px !important;
    }
    .products-2 {
        width: 479px !important;
    }
}
@media screen and (max-width: 1130px) {
    .products-2, .products-3, .col-option {
        min-width: 476px !important;
    }
    .products-2 {
        width: 476px !important;
    }
}
@media screen and (max-width: 1125px) {
    .products-2, .products-3, .col-option {
        min-width: 473px !important;
    }
    .products-2 {
        width: 473px !important;
    }
}
@media screen and (max-width: 1120px) {
    .products-2, .products-3, .col-option {
        min-width: 470px !important;
    }
    .products-2 {
        width: 470px !important;
    }
}
@media screen and (max-width: 1115px) {
    .products-2, .products-3, .col-option {
        min-width: 467px !important;
    }
    .products-2 {
        width: 467px !important;
    }
}
@media screen and (max-width: 1110px) {
    .products-2, .products-3, .col-option {
        min-width: 464px !important;
    }
    .products-2 {
        width: 464px !important;
    }
}
@media screen and (max-width: 1105px) {
    .products-2, .products-3, .col-option {
        min-width: 461px !important;
    }
    .products-2 {
        width: 461px !important;
    }
}
@media screen and (max-width: 1100px) {
    .products-2, .products-3, .col-option {
        min-width: 458px !important;
    }
    .products-2 {
        width: 458px !important;
    }
}
@media screen and (max-width: 1095px) {
    .products-2, .products-3, .col-option {
        min-width: 455px !important;
    }
    .products-2 {
        width: 455px !important;
    }
}
@media screen and (max-width: 1080px) {
    .products-2, .products-3, .col-option {
        min-width: 452px !important;
    }
    .products-2 {
        width: 452px !important;
    }
}
@media screen and (max-width: 1075px) {
    .products-2, .products-3, .col-option {
        min-width: 449px !important;
    }
    .products-2 {
        width: 449px !important;
    }
}
@media screen and (max-width: 1070px) {
    .products-2, .products-3, .col-option {
        min-width: 446px !important;
    }
    .products-2 {
        width: 446px !important;
    }
}
@media screen and (max-width: 1065px) {
    .products-2, .products-3, .col-option {
        min-width: 443px !important;
    }
    .products-2 {
        width: 443px !important;
    }
}
@media screen and (max-width: 1060px) {
    .products-2, .products-3, .col-option {
        min-width: 440px !important;
    }
    .products-2 {
        width: 440px !important;
    }
}
@media screen and (max-width: 1055px) {
    .products-2, .products-3, .col-option {
        min-width: 437px !important;
    }
    .products-2 {
        width: 437px !important;
    }
}
@media screen and (max-width: 1050px) {
    .products-2, .products-3, .col-option {
        margin-left: 22px !important;
        margin-right: 22px !important;
    }
    .products-2, .products-3 {
        margin-bottom: 44px !important;
    }
}
@media screen and (max-width: 1030px) {
    .products-2, .products-3, .col-option {
        min-width: 434px !important;
    }
    .products-2 {
        width: 434px !important;
    }
}
@media screen and (max-width: 1025px) {
    .products-2, .products-3, .col-option {
        min-width: 431px !important;
    }
    .products-2 {
        width: 431px !important;
    }
}
@media screen and (max-width: 1020px) {
    .products-2, .products-3, .col-option {
        min-width: 428px !important;
    }
    .products-2 {
        width: 428px !important;
    }
}
@media screen and (max-width: 1015px) {
    .products-2, .products-3, .col-option {
        min-width: 425px !important;
    }
    .products-2 {
        width: 425px !important;
    }
}
@media screen and (max-width: 1010px) {
    .products-2, .products-3, .col-option {
        min-width: 422px !important;
    }
    .products-2 {
        width: 422px !important;
    }
}
@media screen and (max-width: 1005px) {
    .products-2, .products-3, .col-option {
        min-width: 419px !important;
    }
    .products-2 {
        width: 419px !important;
    }
}
@media screen and (max-width: 1000px) {
    .products-2, .products-3, .col-option {
        min-width: 416px !important;
    }
    .products-2 {
        width: 416px !important;
    }
}
@media screen and (max-width: 995px) {
    .products-2, .products-3, .col-option {
        min-width: 413px !important;
    }
    .products-2 {
        width: 413px !important;
    }
}
@media screen and (max-width: 990px) {
    .products-2, .products-3, .col-option {
        min-width: 410px !important;
    }
    .products-2 {
        width: 410px !important;
    }
}
@media screen and (max-width: 985px) {
    .products-2, .products-3, .col-option {
        min-width: 407px !important;
    }
    .products-2 {
        width: 407px !important;
    }
}
@media screen and (max-width: 980px) {
    .products-2, .products-3, .col-option {
        min-width: 404px !important;
    }
    .products-2 {
        width: 404px !important;
    }
}
@media screen and (max-width: 975px) {
    .products-2, .products-3, .col-option {
        min-width: 401px !important;
    }
    .products-2 {
        width: 401px !important;
    }
}
@media screen and (max-width: 970px) {
    .products-2, .products-3, .col-option {
        min-width: 398px !important;
    }
    .products-2 {
        width: 398px !important;
    }
}
@media screen and (max-width: 950px) {
    .products-2, .products-3, .col-option {
        min-width: 395px !important;
    }
    .products-2 {
        width: 395px !important;
    }
}
@media screen and (max-width: 945px) {
    .products-2, .products-3, .col-option {
        min-width: 392px !important;
    }
    .products-2 {
        width: 392px !important;
    }
}
@media screen and (max-width: 940px) {
    .products-2, .products-3, .col-option {
        min-width: 389px !important;
    }
    .products-2 {
        width: 389px !important;
    }
}
@media screen and (max-width: 935px) {
    .products-2, .products-3, .col-option {
        min-width: 386px !important;
    }
    .products-2 {
        width: 386px !important;
    }
}
@media screen and (max-width: 930px) {
    .products-2, .products-3, .col-option {
        min-width: 383px !important;
    }
    .products-2 {
        width: 383px !important;
    }
}
@media screen and (max-width: 925px) {
    .products-2, .products-3, .col-option {
        min-width: 380px !important;
    }
    .products-2 {
        width: 380px !important;
    }
}
@media screen and (max-width: 920px) {
    .products-2, .products-3, .col-option {
        min-width: 377px !important;
    }
    .products-2 {
        width: 377px !important;
    }
}
@media screen and (max-width: 915px) {
    .products-2, .products-3, .col-option {
        min-width: 374px !important;
    }
    .products-2 {
        width: 374px !important;
    }
}
@media screen and (max-width: 910px) {
    .products-2, .products-3, .col-option {
        min-width: 371px !important;
    }
    .products-2 {
        width: 371px !important;
    }
}
@media screen and (max-width: 905px) {
    .products-2, .products-3, .col-option {
        min-width: 368px !important;
    }
    .products-2 {
        width: 368px !important;
    }
}
@media screen and (max-width: 900px) {
    .products-2, .products-3, .col-option {
        width: 365px !important; 
    }
    .products-2 {
        width: 365px !important;
    }
}
@media screen and (max-width: 895px) {
    .products-2, .products-3, .col-option {
        margin-left: 10px !important;
        margin-right: 10px !important;
        min-width: 405px !important;
    }
    .products-2 {
        width: 405px !important;
    }
    .products-2, .products-3 {
        margin-bottom: 20px !important;
    }
    #container-view-2, #container-view-3, .container-options { 
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
@media screen and (max-width: 890px) {
    .products-2, .products-3, .col-option {
        min-width: 400px !important;
    }
    .products-2 {
        width: 400px !important;
    }
}
@media screen and (max-width: 875px) {
    .products-2, .products-3, .col-option {
        min-width: 398px !important;
    }
    .products-2 {
        width: 398px !important;
    }
}
@media screen and (max-width: 870px) {
    .products-2, .products-3, .col-option {
        min-width: 395px !important;
    }
    .products-2 {
        width: 395px !important;
    }
}
@media screen and (max-width: 865px) {
    .products-2, .products-3, .col-option {
        min-width: 392px !important;
    }
    .products-2 {
        width: 392px !important;
    }
}
@media screen and (max-width: 860px) {
    .products-2, .products-3, .col-option {
        min-width: 389px !important;
    }
    .products-2 {
        width: 389px !important;
    }
}
@media screen and (max-width: 855px) {
    .products-2, .products-3, .col-option {
        min-width: 386px !important;
    }
    .products-2 {
        width: 386px !important;
    }
}
@media screen and (max-width: 850px) {
    .products-2, .products-3, .col-option {
        min-width: 383px !important;
    }
    .products-2 {
        width: 383px !important;
    }
}
@media screen and (max-width: 845px) {
    .products-2, .products-3, .col-option {
        min-width: 380px !important;
    }
    .products-2 {
        width: 380px !important;
    }
}
@media screen and (max-width: 840px) {
    .products-2, .products-3, .col-option {
        min-width: 377px !important;
    }
    .products-2 {
        width: 377px !important;
    }
}
@media screen and (max-width: 835px) {
    .products-2, .products-3, .col-option {
        min-width: 374px !important;
    }
    .products-2 {
        width: 374px !important;
    }
}
@media screen and (max-width: 830px) {
    .products-2, .products-3, .col-option {
        min-width: 371px !important;
    }
    .products-2 {
        width: 371px !important;
    }
}
@media screen and (max-width: 825px) {
    .products-2, .products-3, .col-option {
        min-width: 368px !important;
    }
    .products-2 {
        width: 368px !important;
    }
}
@media screen and (max-width: 820px) {
    .products-2, .products-3, .col-option {
        width: 365px !important;
    }
    .products-2 {
        width: 365px !important;
    }
}
@media screen and (max-width: 815px) {
    .products-2, .products-3, .col-option {
        width: 362px !important;
    }
    .products-2 {
        width: 362px !important;
    }
}
@media screen and (max-width: 810px) {
    .products-2, .products-3, .col-option {
        min-width: 366px !important;
    }
    .products-2 {
        width: 366px !important;
    }
}
@media screen and (max-width: 806px) {
    .products-2, .products-3, .col-option {
        min-width: 363px !important;
    }
    .products-2 {
        width: 363px !important;
    }
}
@media screen and (max-width: 800px) {
    .products-2, .products-3, .col-option {
        min-width: 360px !important;
    }
    .products-2 {
        width: 360px !important;
    }
}
@media screen and (max-width: 798px) { 
    .products-2, .products-3, .col-option {
        min-width: 357px !important;
        width: 357px !important;
    }
}
@media screen and (max-width: 790px) {
    .products-2, .products-3, .col-option {
        min-width: 354px !important;
        width: 354px !important;
    }
}
@media screen and (max-width: 785px) {
    .products-2, .products-3, .col-option {
        min-width: 351px !important;
        width: 351px !important;
    }
}
@media screen and (max-width: 780px) {
    .products-2, .products-3, .col-option {
        min-width: 348px !important;
        width: 348px !important;
    }
}
@media screen and (max-width: 775px) {
    .products-2, .products-3, .col-option {
        min-width: 345px !important;
        width: 345px !important;
    }
}
@media screen and (max-width: 770px) {
    .products-2, .products-3, .col-option {
        min-width: 342px !important;
        width: 342px !important;
    }
}
@media screen and (max-width: 765px) {
    .products-2, .products-3, .col-option {
        min-width: 339px !important;
        width: 339px !important;
    }
}
@media screen and (max-width: 760px) {
    .products-2, .products-3, .col-option {
        min-width: 336px !important;
        width: 336px !important;
    }
}
@media screen and (max-width: 755px) {
    .products-2, .products-3, .col-option {
        min-width: 333px !important;
        width: 333px !important;
    }
}
@media screen and (max-width: 750px) {
    .products-2, .products-3, .col-option {
        min-width: 330px !important;
        width: 330px !important;
    }
}
@media screen and (max-width: 745px) {
    .products-2, .products-3, .col-option {
        min-width: 327px !important;
        width: 327px !important;
    }
}
@media screen and (max-width: 730px) {
    .products-2, .products-3, .col-option {
        min-width: 324px !important;
        width: 324px !important;
    }
}
@media screen and (max-width: 725px) {
    .products-2, .products-3, .col-option {
        min-width: 321px !important;
        width: 321px !important;
    }
}
@media screen and (max-width: 720px) {
    .products-2, .products-3, .col-option {
        min-width: 318px !important;
        width: 318px !important;
    }
}
@media screen and (max-width: 715px) {
    .products-2, .products-3, .col-option {
        min-width: 315px !important;
        width: 315px !important;
    }
}
@media screen and (max-width: 705px) {
    .products-2, .products-3, .col-option {
        min-width: 311px !important;
        width: 311px !important;
    }
}
@media screen and (max-width: 700px) {
    .products-2, .products-3, .col-option {
        min-width: 308px !important;
        width: 308px !important;
    }
}
@media screen and (max-width: 695px) {
    .products-2, .products-3, .col-option {
        min-width: 306px !important;
        width: 306px !important;
    }
}
@media screen and (max-width: 690px) {
    .products-2, .products-3, .col-option {
        min-width: 304px !important;
        width: 304px !important;
    }
}
@media screen and (max-width: 685px) {
    .products-2, .products-3, .col-option {
        min-width: 302px !important;
        width: 302px !important;
    }
}
@media screen and (max-width: 680px) {
    .products-2, .products-3, .col-option {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .products-2, .products-3 {
        margin-bottom: 10px !important;
    }
    #container-view-2, #container-view-3, .container-options {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
@media screen and (max-width: 650px) {
    .products-2, .products-3, .col-option {
        min-width: 300px !important;
        width: 300px !important;
    }
}
@media screen and (max-width: 645px) {
    .products-2, .products-3, .col-option {
        min-width: 298px !important;
        width: 298px !important;
    }
}
@media screen and (max-width: 640px) {
    .products-2, .products-3, .col-option {
        min-width: 296px !important;
        width: 296px !important;
    }
}
@media screen and (max-width: 636px) {
    .products-2, .products-3, .col-option {
        min-width: 293px !important;
        width: 293px !important;
    }
}
@media screen and (max-width: 630px) {
    .products-2, .products-3, .col-option {
        min-width: 290px !important;
        width: 290px !important;
    }
}
@media screen and (max-width: 625px) {
    .products-2, .products-3, .col-option {
        min-width: 287px !important;
        width: 287px !important;
    }
}
@media screen and (max-width: 620px) {
    .products-2, .products-3, .col-option {
        min-width: 284px !important;
        width: 284px !important;
    }
}
@media screen and (max-width: 615px) {
    .products-2, .products-3, .col-option {
        min-width: 281px !important;
        width: 281px !important;
    }
}
@media screen and (max-width: 610px) {
    .products-2, .products-3, .col-option {
        min-width: 278px !important;
        width: 278px !important;
    }
}
@media screen and (max-width: 600px) {
    .products-2, .products-3, .col-option {
        min-width: 275px !important;
        width: 275px !important;
    }
}
@media screen and (max-width: 595px) {
    .products-2, .products-3, .col-option {
        min-width: 272px !important;
        width: 272px !important;
    }
}
@media screen and (max-width: 590px) {
    .products-2, .products-3, .col-option {
        min-width: 269px !important;
        width: 269px !important;
    }
}
@media screen and (max-width: 585px) {
    .products-2, .products-3, .col-option {
        min-width: 266px !important;
        width: 266px !important;
    }
}
@media screen and (max-width: 580px) {
    .products-2, .products-3, .col-option {
        min-width: 263px !important;
        width: 263px !important;
    }
}
@media screen and (max-width: 575px) {
    .products-2, .products-3, .col-option {
        min-width: 261px !important;
        width: 261px !important;
    }
}
@media screen and (max-width: 570px) {
    .products-2, .products-3, .col-option {
        min-width: 258px !important;
        width: 258px !important;
    }
}
@media screen and (max-width: 565px) {
    .products-2, .products-3, .col-option {
        min-width: 256px !important;
        width: 256px !important;
    }
}
@media screen and (max-width: 560px) {
    .products-2, .products-3, .col-option {
        min-width: 254px !important;
        width: 254px !important;
    }
}
@media screen and (max-width: 555px) {
    .products-2, .products-3, .col-option {
        min-width: 252px !important;
        width: 252px !important;
    }
}
@media screen and (max-width: 550px) {
    .products-2, .products-3, .col-option {
        min-width: 250px !important;
        width: 250px !important;
    }
}
@media screen and (max-width: 545px) {
    .products-2, .products-3, .col-option {
        min-width: 248px !important;
        width: 248px !important;
    }
}
@media screen and (max-width: 540px) {
    .products-2, .products-3, .col-option {
        min-width: 246px !important;
        width: 246px !important;
    }
}
@media screen and (max-width: 536px) {
    .products-2, .products-3, .col-option {
        min-width: 244px !important;
        width: 244px !important;
    }
}
@media screen and (max-width: 532px) {
    .products-2, .products-3, .col-option {
        min-width: 242px !important;
        width: 242px !important;
    }
}
@media screen and (max-width: 528px) {
    .products-2, .products-3, .col-option {
        min-width: 240px !important;
        width: 240px !important;
    }
}
@media screen and (max-width: 524px) {
    .products-2, .products-3, .col-option {
        min-width: 238px !important;
        width: 238px !important;
    }
}
@media screen and (max-width: 520px) {
    .products-2, .products-3, .col-option {
        min-width: 236px !important;
        width: 236px !important;
    }
}
@media screen and (max-width: 516px) {
    .products-2, .products-3, .col-option {
        min-width: 234px !important;
        width: 234px !important;
    }
}
@media screen and (max-width: 512px) {
    .products-2, .products-3, .col-option {
        min-width: 232px !important;
        width: 232px !important;
    }
}
@media screen and (max-width: 508px) {
    .products-2, .products-3, .col-option {
        min-width: 230px !important;
        width: 230px !important;
    }
}
@media screen and (max-width: 504px) {
    .products-2, .products-3, .col-option {
        min-width: 228px !important;
        width: 228px !important;
    }
}
@media screen and (max-width: 500px) {
    .products-2, .products-3, .col-option { 
        min-width: 226px !important;
        width: 226px !important;
    }
} 