.figure {
    border: 1px solid black !important;
    width: 290px;
    height: 410px;
}
.container-productos {
    border: 1px solid red !important;
    max-width: 1350px !important;
}
.row-container-products {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.columna {
    min-width: 290px !important;
    padding: 30px;
}
.columna-escondida {
    background-color: rgb(255, 249, 214);
}