
.vacio {
    border: 1px solid rgb(203, 255, 179) !important;
}


.container-productos {
    padding: 0px !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.row-container-products {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px !important;
    margin: 0px !important;
}

.columna-4{
    display: none;
}
#row-productos-all-4 {
    display: none;
}
.columna-2 {
    display: none;
}
#row-productos-all-2 {
    display: none;
}
.columna-3 {
    display: none;
}
#row-productos-all-3 {
    display: none;
}


.options-3, .options-2 {
    visibility: hidden;
}
.options-3, .options-2, .options-1 {
    display: flex;
    justify-content: right !important;
    align-items: right !important;
    padding-right: 15px;
} 
#row-productos-all {
    width: 1592px;
}
.row-options-columna {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.columna {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 0px;
    padding-bottom: 50px !important;
    max-width: 398px !important;
}
.options-pred {
    max-width: 398px !important;
    margin-top: 80px !important;
    margin-bottom: 20px !important;
    padding-right: 10px;
}
.options-all-4 {
    margin-top: 80px !important;
    margin-bottom: 20px !important;
    padding-right: 10px;
}
.row-btn-vistas {
    text-align: right !important;
}
.figura-pred, .figura-4 { 
    width: 398px;
    margin: 0px !important;
    padding: 6px;
}
.figura-pred img, .figura-4 img {
    width: 398px; 
}
#row-productos-all-4 .vacio {
    display: none !important;
}
.options-4-2, .options-4-1 {
    visibility: hidden;
}
#row-productos-all-3 .vacio {
    display: none !important;
}
.figura-3 { 
    width: 570px;
    margin: 0px !important;
    padding: 6px;
}
.figura-3 img {
    width: 570px; 
}
.options-all-3 {
    margin-top: 80px !important;
    margin-bottom: 20px !important;
    min-width: 570px;
}
.options-3-3 {
    display: none;
}
.options-3-2 {
    visibility: hidden;
}
#row-productos-all-2 .vacio {
    display: none !important;
}
.figura-2 { 
    width: 800px;
    margin: 0px !important;
    padding: 6px;
}
.figura-2 img {
    width: 800px; 
}
.options-all-2 {
    min-width: 800px;
    margin-top: 80px !important;
}



#div-filtros {
    padding-top: 25px;
    padding-bottom: 25px;
    display: none;
    height: auto;
}
.tabla-filtros {
    box-shadow: 7px 7px 10px 0px rgb(240, 240, 240);
    max-width: 370px;
    padding-left: 28px !important;
    padding-right: 0px !important;
    position: absolute;
    background-color: white;
    top: 50px;
}
.offcanvas-filter {
    width: 400px !important;
    margin-top: 130px !important;
    border: none !important;
    padding-left: 20px;
    border-right: 1px solid rgb(243, 243, 243) !important;
    border-top: 1px solid rgb(250, 250, 250) !important;
}
.button-filtros-delete {
    text-align: center !important;
}
.button-filtros-delete button{
    background-color: white !important;
    color: rgb(0, 0, 0);
    font-size: 13px;
    padding: 7px;
    width: 35%;
    border: 1px solid rgb(192, 192, 192);
}
.button-filtros-delete button:hover {
    border: 1px solid rgb(0, 0, 0);
}
.row-delete-filtros {
    padding-bottom: 30px;
}
input[type="checkbox"] {
    background-color: white !important;
    cursor: pointer !important;
    appearance: none !important;
    box-sizing: border-box;
    margin: 0px 0px 1px 0px;
    padding: 3px;
    height: 3px !important;
    width: 3px !important;
    border-radius: 7px;
    border: 1px solid rgb(161, 161, 161) !important;
}
input[type="checkbox"]:checked {
    background-color: black !important;
    cursor: pointer !important;
    appearance: none !important;
    box-sizing: border-box;
    margin: 0px 0px 1px 0px;
    padding: 3px;
    height: 3px !important;
    width: 3px !important;
    border-radius: 7px;
    border: 1px solid black !important;
}



.col-vista {
    text-align: right;
    padding-right: 20px !important;
}




.icon-filtro {
    padding-left: 5px;
    cursor: pointer;
    font-size: 18px;
    color: rgb(104, 104, 104);
    padding-top: 0px !important;
    text-align: right;
    border-bottom: 1px solid rgba(240, 240, 240, 0.76);
}
.div-tipo {
    padding-top: 5px;
    cursor: pointer;
    border-bottom: 1px solid rgba(240, 240, 240, 0.76);
}
.icono-ocultar {
    display: none;
}
.icono-mostrar {
    display: inline;
}
.col-filtros {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.tipo-col {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    color: rgb(94, 94, 94);
}
.btn-filtro {
    border: 1px solid rgb(226, 226, 226);
    color: rgb(138, 138, 138);
    background-color: transparent;
    margin-top: 10px !important;
    margin-right: 10px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    padding: 0px !important;
    width: 150px !important;
}
.btn-filtro:hover {
    border: 1px solid black;
    color: black;
}
.row-filtros {
    display: none;
    margin-right: 0px !important;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.btn-seleccionado {
    border: 1px solid rgb(0, 0, 0);
    color: white;
    background-color: black;
    margin-top: 10px !important;
    margin-right: 10px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    padding: 0px !important;
    width: 150px !important;
}


.offcanvas-body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
} 
.offcanvas-body::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);        /* color of the tracking area */
    border-radius: 20px;
}
.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: rgb(209, 209, 209);    /* color of the scroll thumb */
    border-radius: 20px !important; 
}

.row-btn-vistas button {
    background-color: white !important;
    border: none;
    padding: 0px !important;
    margin-right: 10px;
}
.view-default {
    font-size: 10px;
    /*color: rgb(151, 151, 151);*/
    color: black;
    padding: 0px !important;
    padding-right: 2px;
}
.filtro-principal, .filtro-principal-ocultar {
    font-size: 13px;
    border: none;
    background-color: transparent;
    /*color: rgb(151, 151, 151);*/
    color: black;
    padding: 0px !important;
    padding-right: 2px;
}

.filtro-principal-ocultar {
    display: none;
}

#view-2, #view-3, #view-4 {
    height: 16px !important;
}
#view-2 {
    width: 17px !important;
}
#view-3 {
    width: 25px !important;
}
#view-4 {
    width: 32px !important;
}

@import url(css/1815-1345.css) all;
@import url(css/1328-990.css) all;
@import url(css/985-634.css) all;
@import url(css/630-210.css) all;






