
.vacio {
    border: 1px solid rgb(203, 255, 179) !important;
}

.b-right .figura-pred, .b-right .figura-4, .b-right .figura-3, .b-right .figura-2 {
    border-right: 1px solid rgb(218, 218, 218);
}
.b-left .figura-pred, .b-left .figura-4, .b-left .figura-3, .b-left .figura-2 {
    border-left: 1px solid rgb(218, 218, 218); 
}
.b-bottom .figura-pred, .b-bottom .figura-4, .b-bottom .figura-3, .b-bottom .figura-2 {
    border-bottom: 1px solid rgb(218, 218, 218); 
}
.b-top .figura-pred, .b-top .figura-4, .b-top .figura-3, .b-top .figura-2 {
    border-top: 1px solid rgb(218, 218, 218);
}
.container-productos {
    padding: 0px !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.row-container-products {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px !important;
    margin: 0px !important;
}

.columna-4{
    display: none;
}
#row-productos-all-4 {
    display: none;
}
.columna-2 {
    display: none;
}
#row-productos-all-2 {
    display: none;
}
.columna-3 {
    display: none;
}
#row-productos-all-3 {
    display: none;
}



#row-productos-all {
    max-width: 95%;
}
#row-productos-all-4 {
    max-width: 95%;
}
#row-productos-all-3 {
    max-width: 95%;
}
#row-productos-all-2 {
    max-width: 95%;
}
.columna {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 25px;
    padding-bottom: 25px !important;
    min-width: 398px;
}
.columna-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px !important;
}
.figura-pred, .figura-4 { 
    width: 398px;
    margin: 0px !important;
    padding: 6px;
}
.figura-pred img, .figura-4 img {
    width: 398px; 
}
#row-productos-all-4 .vacio {
    display: none !important;
}

/*Datos iniciales columna 3*/
#row-productos-all-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#row-productos-all-3 .vacio {
    display: none !important;
}
.columna-3 {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 25px;
    padding-bottom: 25px !important;
    min-width: 570px;
}
.figura-3 { 
    width: 570px;
    margin: 0px !important;
    padding: 6px;
}
.figura-3 img {
    width: 570px; 
}


/*Datos iniciales columna 2*/
#row-productos-all-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#row-productos-all-2 .vacio {
    display: none !important;
}
.columna-2 {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 800px;
}
.figura-2 { 
    width: 800px;
    margin: 0px !important;
    padding: 6px;
}
.figura-2 img {
    width: 800px; 
}

#div-filtros {
    padding-top: 25px;
    padding-bottom: 25px;
    display: none;
    height: auto;
}
.tabla-filtros {
    border-left: 1px solid rgba(243, 243, 243, 0.849);
    border-top: 1px solid rgba(243, 243, 243, 0.849);
    background-color: rgba(255, 255, 255, 0.445);
    box-shadow: 7px 7px 10px 0px rgb(240, 240, 240);
}
.button-filtros-delete {
    text-align: center !important;
}
.button-filtros-delete button{
    background-color: white !important;
    color: rgb(0, 0, 0);
    font-size: 13px;
    padding: 7px;
    width: 35%;
    border: 1px solid rgb(192, 192, 192);
}
.button-filtros-delete button:hover {
    border: 1px solid rgb(0, 0, 0);
}
.col-filtros {
    font-size: 14px;
}
.row-all-filtros {
    padding: 20px;
}
.row-delete-filtros {
    padding-bottom: 30px;
}
.filtro-concreto-col {
    padding-top: 5px;
    padding-bottom: 2px;
}
.filtro-concreto-col input {
    margin-right: 8px !important;
}
input[type="checkbox"] {
    background-color: white !important;
    cursor: pointer !important;
    appearance: none !important;
    box-sizing: border-box;
    margin: 0px 0px 1px 0px;
    padding: 3px;
    height: 3px !important;
    width: 3px !important;
    border-radius: 7px;
    border: 1px solid rgb(161, 161, 161) !important;
}
input[type="checkbox"]:checked {
    background-color: black !important;
    cursor: pointer !important;
    appearance: none !important;
    box-sizing: border-box;
    margin: 0px 0px 1px 0px;
    padding: 3px;
    height: 3px !important;
    width: 3px !important;
    border-radius: 7px;
    border: 1px solid black !important;
}
.tipo-col {
    padding-top: 10px;
    padding-bottom: 10px;
}
.filtro-aplicado {
    font-size: 10px;
    padding: 7px;
    color: black;
    border-radius: 3px;
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
    display: inline;
    margin-right: 10px;
}
.col-vista {
    text-align: right;
    padding-right: 70px !important;
}
.row-options {
    padding-left: 57px !important;
}

@import url(css/1815-1345.css) all;
@import url(css/1328-990.css) all;
@import url(css/985-634.css) all;
@import url(css/630-210.css) all;






