@media screen and (max-width: 1692px) {
    .columna {
        min-width: 396px !important;
    }
}
@media screen and (max-width: 1687px) {
    .columna {
        min-width: 394px !important;
    }
}
@media screen and (max-width: 1686px) {
    .columna {
        min-width: 392px !important;
    }
}
@media screen and (max-width: 1670px) {
    .columna {
        min-width: 390px !important;
    }
}
@media screen and (max-width: 1665px) {
    .columna {
        min-width: 388px !important; 
    }
}
@media screen and (max-width: 1660px) {
    .columna {
        min-width: 386px !important;
    }
}
@media screen and (max-width: 1655px) {
    .columna {
        min-width: 384px !important;
    }
}
@media screen and (max-width: 1650px) {
    .columna {
        min-width: 382px !important;
    }
}
@media screen and (max-width: 1645px) {
    .columna {
        min-width: 380px !important;
    }
}
@media screen and (max-width: 1640px) {
    .columna {
        min-width: 378px !important;
    }
}
@media screen and (max-width: 1635px) {
    .columna {
        min-width: 376px !important; 
    }
}
@media screen and (max-width: 1630px) {
    .columna {
        min-width: 374px !important;
    }
}
@media screen and (max-width: 1625px) {
    .columna {
        min-width: 372px !important;
    }
}
@media screen and (max-width: 1620px) {
    .columna {
        min-width: 370px !important;
    }
}
@media screen and (max-width: 1615px) {
    .columna {
        min-width: 368px !important; 
    }
}
@media screen and (max-width: 1610px) {
    .columna {
        min-width: 366px !important;
    }
}
@media screen and (max-width: 1605px) {
    .columna {
        min-width: 364px !important;
    }
}
@media screen and (max-width: 1600px) {
    .columna {
        min-width: 362px !important;
    }
}
@media screen and (max-width: 1595px) {
    .columna {
        min-width: 360px !important;
    }
}
@media screen and (max-width: 1590px) {
    .columna {
        min-width: 358px !important; 
    }
}
@media screen and (max-width: 1585px) {
    .columna {
        min-width: 356px !important;
    }
}
@media screen and (max-width: 1580px) {
    .columna {
        min-width: 354px !important;
    }
}
@media screen and (max-width: 1575px) {
    .columna {
        min-width: 352px !important;
    }
}
@media screen and (max-width: 1570px) {
    .columna {
        min-width: 350px !important;
    }
}
@media screen and (max-width: 1560px) {
    .row-productos-all {
        max-width: 97%;
    }
    .columna {
        min-width: 320px !important;
    }
}
@media screen and (max-width: 1555px) {
    .columna {
        min-width: 310px !important;
    }
}