@media screen and (max-width: 600px) {
    .columna {
        min-width: 420px !important;
    }
    .figure {
        width: 420px !important;
    }
    .figure img {
        width: 420px !important;
    }
}
@media screen and (max-width: 595px) {
    .columna {
        min-width: 418px !important; 
    }
}
@media screen and (max-width: 590px) {
    .columna {
        min-width: 416px !important;
    }
}
@media screen and (max-width: 585px) {
    .columna {
        min-width: 414px !important;
    }
}
@media screen and (max-width: 580px) {
    .columna {
        min-width: 412px !important;
    }
}
@media screen and (max-width: 575px) {
    .columna {
        min-width: 410px !important;
    }
}
@media screen and (max-width: 570px) {
    .columna {
        min-width: 408px !important; 
    }
}
@media screen and (max-width: 565px) {
    .columna {
        min-width: 406px !important;
    }
}
@media screen and (max-width: 560px) {
    .columna {
        min-width: 404px !important; 
    }
}
@media screen and (max-width: 555px) {
    .columna {
        min-width: 402px !important;
    }
}
@media screen and (max-width: 550px) {
    .columna {
        min-width: 400px !important;
    }
}
@media screen and (max-width: 545px) {
    .columna {
        min-width: 398px !important; 
    }
}
@media screen and (max-width: 540px) {
    .columna {
        min-width: 396px !important; 
    }
}
@media screen and (max-width: 535px) {
    .columna {
        min-width: 394px !important;
    }
}
@media screen and (max-width: 530px) {
    .columna {
        min-width: 392px !important;
    }
}
@media screen and (max-width: 525px) {
    .columna {
        min-width: 390px !important;
    }
}
@media screen and (max-width: 520px) {
    .columna {
        min-width: 388px !important; 
    }
}
@media screen and (max-width: 515px) {
    .columna {
        min-width: 386px !important;
    }
}
@media screen and (max-width: 510px) {
    .columna {
        min-width: 384px !important; 
    }
}
@media screen and (max-width: 505px) {
    .columna {
        min-width: 382px !important; 
    }
}
@media screen and (max-width: 500px) {
    .columna {
        min-width: 380px !important; 
    }
}
@media screen and (max-width: 495px) {
    .columna {
        min-width: 378px !important; 
    }
}
@media screen and (max-width: 490px) { 
    .columna {
        min-width: 376px !important; 
    }
}
@media screen and (max-width: 485px) {
    .columna {
        min-width: 374px !important;
    }
}
@media screen and (max-width: 480px) { 
    .columna {
        min-width: 372px !important;
    }
}
@media screen and (max-width: 475px) {
    .columna {
        min-width: 370px !important;   
    }
}
@media screen and (max-width: 470px) {
    .columna {
        min-width: 368px !important;  
    }
}
@media screen and (max-width: 465px) {
    .columna {
        min-width: 366px !important; 
    }
}
@media screen and (max-width: 460px) {
    .columna {
        min-width: 364px !important;
    }
}
@media screen and (max-width: 455px) { 
    .columna {
        min-width: 362px !important;
    }
}
@media screen and (max-width: 450px) {
    .columna {
        min-width: 360px !important;   
    } 
}
@media screen and (max-width: 445px) { 
    .columna {
        min-width: 358px !important;   
    }
}
@media screen and (max-width: 440px) { 
    .columna {
        min-width: 355px !important;  
    }
}
@media screen and (max-width: 435px) {
    .columna {
        min-width: 354px !important;
    }
}
@media screen and (max-width: 430px) {  
    .columna {
        min-width: 352px !important;
    }
}
@media screen and (max-width: 425px) {
    .columna {
        min-width: 350px !important;
    }
}
@media screen and (max-width: 420px) {
    .columna {
        min-width: 348px !important;  
    }
}
@media screen and (max-width: 415px) { 
    .columna {
        min-width: 346px !important; 
    }
}
@media screen and (max-width: 410px) {
    .columna {
        min-width: 344px !important;
    }
}
@media screen and (max-width: 395px) {
    .columna {
        min-width: 342px !important;  
    }
}
@media screen and (max-width: 390px) {
    .columna {
        min-width: 340px !important; 
    }
}
@media screen and (max-width: 385px) { 
    .columna {
        min-width: 338px !important; 
    }
}
@media screen and (max-width: 380px) { 
    .columna {
        min-width: 336px !important;  
    }
}
@media screen and (max-width: 375px) {
    .columna {
        min-width: 334px !important;
    }
}
@media screen and (max-width: 370px) { 
    .columna {
        min-width: 332px !important;
    }
}
@media screen and (max-width: 365px) { 
    .columna {
        min-width: 330px !important;  
    }
}
@media screen and (max-width: 360px) {
    .columna {
        min-width: 328px !important; 
    }
}
@media screen and (max-width: 355px) {
    .columna {
        min-width: 325px !important; 
    }
}
@media screen and (max-width: 350px) {
    .columna {
        min-width: 324px !important;
    }
}
@media screen and (max-width: 345px) { 
    .columna {
        min-width: 322px !important;
    }
}
@media screen and (max-width: 340px) {
    .columna {
        min-width: 320px !important;   
    } 
}
@media screen and (max-width: 335px) { 
    .columna {
        min-width: 318px !important;   
    }
}
@media screen and (max-width: 330px) { 
    .columna {
        min-width: 314px !important; 
    }
}
@media screen and (max-width: 325px) {
    .columna {
        min-width: 312px !important; 
    }
}
@media screen and (max-width: 320px) {  
    .columna {
        min-width: 310px !important;
    }
}
@media screen and (max-width: 315px) {
    .columna {
        min-width: 308px !important;   
    }
}
@media screen and (max-width: 310px) {
    .columna {
        min-width: 306px !important;   
    }
}
@media screen and (max-width: 305px) {
    .columna {
        min-width: 302px !important;     
    }
}